@font-face {
    font-family: CoffeeBugsFont;
    src: url(../font/TradeGothicLT.woff);
}

body {
    margin: 0;
    font-family: CoffeeBugsFont;
}
.shop {
    width: 1211px;
    height: 626px;
    background-image: url(../images/shop.svg);
    background-repeat: no-repeat;
    animation-name: moveShop;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.filler {
    width: 601px;
    height: 626px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 1211px;
}
#menu {
    width: 1211px;
    height: 626px;
    background-image: url(../images/shop.svg);
    background-repeat: no-repeat;
}
.coffee {
    position: absolute;
    top: 180px;
    left: 57px;
    color: #fff;
    width: 200px;
}
.coffee .type,
.coffee .price {
    width: 50%;
    float: left;
    overflow: hidden;
}
.coffee .type::first-letter {
    text-transform: uppercase;
}
.coffee .type::after {
    content: "...............";
}
#greeting {
    position: absolute;
    top: 120px;
    width: 150px;
    height: 45px;
    font-size: 13px;
    left: 57px;
    color: white;
    font-style: italic;
    white-space: normal;
    overflow: hidden;
}
.coffee.move,
#greeting.move {
    animation-name: moveMenu;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#out {
    border: 15px solid #000;
    border-radius: 10px;
    width: 600px;
    height: 338px;
    background-color: #fff;
    position: absolute;
    left: 1182px; /*550px;*/
    top: 20px;
}
#out.move {
    animation-name: moveShopScreen;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#out img {
    width: 600px;
}
#out .message {
    text-transform: uppercase;
    text-align: center;
    color: #00704A;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}
#out .header {
    font-size: 16px;
    font-weight: bold;
    margin: -4px 20px 10px 20px;
}
#out .header .number {
    margin-top: -4px;
}
#out .header,
#items .item {
    padding: 20px;
}
#out .header div,
#items .item div {
    width: 120px;
    margin: 0 4px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#out .display {
    height: 244px;
    overflow: hidden;
    width: 100%;
}
#items {
    height: 100%;
    overflow-y: auto;
    box-sizing: content-box;
}
#items.more {
    margin-right: -15px;
}
#items .item {
    margin: 0 20px;
    height: 20px;
}
#items .item div::first-letter {
    text-transform: uppercase;
}
#items .item.show {
    animation-name: addItem;
    animation-duration: 2s;
}
#items .item:nth-child(odd) {
    background-color: #E6F1ED;
}
#items .item:nth-child(even) {
    background-color: #fff;
    border: 1px solid #E6F1ED;
}
#items .item .number {
    color: white;
    background-color: #00704A;
    padding: 5px;
    width: 16px;
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    text-align: center;
}
.standard {
    width: 50px;
    height: 183px;
    background-color: #bbb;
    position: absolute;
    top: 388px;
    left: 1472px; /*840px*/
    animation-name: moveShopStandard;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.base {
    width: 200px;
    height: 30px;
    background-color: #999;
    position: absolute;
    top: 541px;
    left: 1402px; /*770px*/
    animation-name: moveShopBase;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes addItem {
    from {margin-left: -1000px;opacity: 0;}
    to {margin-left: 0;opacity: 1;}
}
@keyframes moveShop {
    from {background-position-x: 0;}
    to {background-position-x: -632px;}
}
@keyframes moveMenu {
    from {left: 57px;}
    to {left: -575px;}
}
@keyframes moveShopScreen {
    from {left: 1182px;}
    to {left: 550px;}
}
@keyframes moveShopStandard {
    from {left: 1472px;}
    to {left: 840px;}
}
@keyframes moveShopBase {
    from {left: 1402px;}
    to {left: 770px;}
}

@media screen and (max-width: 870px)
{
    .left {
        width: 100%;
        background-position: 0 0;
        position: absolute;
        top: 380px;
    }
    .right {
        width: calc(100% - 80px);
    }
}