@font-face {
    font-family: CoffeeBugsFont;
    src: url(../font/TradeGothicLT.woff);
}

body {
    margin: 0;
    font-family: CoffeeBugsFont;
}
.left {
    background-image: url(../menu/left.jpg);
    background-repeat: no-repeat;
    background-position: -90px 0;
    height: 380px;
    width: 300px;
    float: left;
}
.right {
    height: 300px;
    width: calc(100% - 380px);
    float: left;
    background-color: black;
    color: white;
    padding: 40px;
}
#greeting {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.header {
    font-size: 16px;
    font-weight: bold;
}
.coffee-type {
    width: 40%;
    float: left;
    font-size: inherit;
}
.coffee-type.wide {
    width: 100%;
}
.coffee-type::first-letter {
    text-transform: uppercase;
}
.coffee-size {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}
.coffee-price-tall,
.coffee-price-grande,
.coffee-price-venti {
    width: 20%;
    float: left;
    font-size: inherit;
}
.sold-out .coffee-price-tall,
.sold-out .coffee-price-grande,
.sold-out .coffee-price-venti,
.sold-out.coffee-price-grande,
.sold-out.coffee-price-venti {
    text-decoration: line-through;
    color: red;
}
#menu div:last-child {
    margin-bottom: 20px;
}

#out {
    border: 15px solid #000;
    border-radius: 10px;
    margin: 50px 0 0 50px;
    width: 600px;
    height: 338px;
}
#out img {
    width: 600px;
}
#out .message {
    text-transform: uppercase;
    text-align: center;
    color: #00704A;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}
#out .header {
    margin: -4px 20px 10px 20px;
}
#out .header .number {
    margin-top: -4px;
}
#out .header,
#items .item {
    padding: 20px;
}
#out .header div,
#items .item div {
    width: 25%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#out .display {
    height: 244px;
    overflow: hidden;
    width: 100%;
}
#items {
    height: 100%;
    overflow-y: auto;
    box-sizing: content-box;
}
#items.more {
    margin-right: -15px;
}
#items .item {
    margin: 0 20px;
    height: 20px;
}
#items .item div::first-letter {
    text-transform: uppercase;
}
#items .item.show {
    animation-name: addItem;
    animation-duration: 2s;
}
#items .item:nth-child(odd) {
    background-color: #E6F1ED;
}
#items .item:nth-child(even) {
    background-color: #fff;
    border: 1px solid #E6F1ED;
}
#items .item .number {
    color: white;
    background-color: #00704A;
    padding: 5px;
    width: 16px;
    font-size: 16px;
    font-weight: bold;
    height: 16px;
    text-align: center;
}
.standard {
    width: 50px;
    height: 100px;
    background-color: #ccc;
    margin-left: 340px;
}
@keyframes addItem {
    from {margin-left: -1000px;opacity: 0;}
    to {margin-left: 0;opacity: 1;}
}

@media screen and (max-width: 870px)
{
    .left {
        width: 100%;
        background-position: 0 0;
        position: absolute;
        top: 380px;
    }
    .right {
        width: calc(100% - 80px);
    }
}